
<header class="headerPrincipal">
    <div class="colorBlack">
        <ul class="listHeader">
            <li class="start">
                <a class="linkDiscord" href="https://discord.gg/xCZjaKjSZt" target="_blank">
                    <div class="taillePhotoDiscord"><img class="resp" src="{{ asset ('img/discord.png') }}" alt="photo discord"></div>
                </a>
            </li>

            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('role') }}">Gestion Des Utilisateurs</a></li>
            {% endif %}
            {% if app.user %}
                <li><a href="{{ path('app_login') }}">{{ app.user.pseudonyme }}</a></li>
            {% else %}
                <li><a href="{{ path('app_login') }}" ><i class="bi bi-person-circle"></i>Connexion</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active d-flex justify-content-center" data-bs-interval="2">
                <img class="imageCarroussel d-block w-100 resp" src="{{ asset ('img/Blason_phoenix.png') }}" alt="">
            </div>
            <div class="carousel-item d-flex justify-content-center" data-bs-interval="2">
                <img class="imageCarroussel d-block w-100 resp" src="{{ asset ('img/Blason_dragon.png') }}" alt="">
            </div>
            <div class="carousel-item d-flex justify-content-center" data-bs-interval="2">
                <img class="imageCarroussel d-block w-100 resp" src="{{ asset ('img/Blason_cerbere.png') }}" alt="">
            </div>
        </div>

    </div>
</header>