<header class="headeruserUser">
    <section class="colorBlack">
        <ul class="listHeader">
            <li class="start">
                <a class="linkDiscord" href="https://discord.gg/xCZjaKjSZt" target="_blank">
                    <div class="taillePhotoDiscord"><img class="resp" src="{{ asset ('img/discord.png') }}" alt="photo discord"></div>
                </a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('role') }}">Gestion Des Utilisateurs</a></li>
            {% endif %}
            {% if app.user %}
                <li>
                    <a class="flex" id="pictureProfile"  href="{{ path('app_login') }}">
                        <div class="radius">
                            {% if  app.user.media is empty %}
                                <img src="{{ asset('img/logoMaraudeursPrinciapal.png') }}" alt="">
                            {% else %}
                                <img class="resp" src="{{ asset('files/') }}{{ app.user.media.url }}" alt="{{ app.user.pseudonyme }}">
                            {% endif %}
                        </div>
                        {{ app.user.pseudonyme }}
                    </a>
                </li>
                {% else %}
                <li><a href="{{ path('app_login') }}" ><i class="bi bi-person-circle"></i>Connexion</a></li>
            {% endif %}
        </ul>
    </section>
</header>