{% extends 'base.html.twig' %}
{% block header %}
    {% include 'header/header.general.html.twig'  %}
{% endblock %}
{% block title %}Register{% endblock %}

{% block content %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <article>
        <h1>S'inscrire</h1>
        <section>
            {{ form_start(registrationForm) }}
                {{  form_label(registrationForm.pseudonyme, 'Votre Pseudonyme', {'label_attr': {'class': 'titleLabel'}}) }}
                <div class="input">
                    {{ form_widget(registrationForm.pseudonyme) }}
                </div>
                {{ form_label(registrationForm.email, 'Votre Email', {'label_attr': {'class': 'titleLabel'}}) }}
                <div class="input">
                    {{ form_widget(registrationForm.email) }}
                    {{ form_errors(registrationForm.email)}}
                </div>
                {{ form_label(registrationForm.plainPassword, 'Votre Mot de Passe', {'label_attr': {'class': 'titleLabel'}}) }}
                <div class="input">
                    {{ form_widget(registrationForm.plainPassword) }}
                    {{ form_errors(registrationForm.plainPassword) }}
                </div>
                <div class="input">
                    {{ form_label(registrationForm.media) }}
                    {{ form_widget(registrationForm.media) }}
                </div>

                <button type="submit" class="effectButton">Enregistrer</button>
            {{ form_end(registrationForm) }}
        </section>
    </article>
{% endblock %}
