{% extends 'base.html.twig' %}
{% block header %}
    {% include 'header/header.general.html.twig' %}
{% endblock %}
{% block content %}
    <h1>{{ category.name }}</h1>
    <a class="titleCrud" href="{{ path  ('insert_article') }}">CREER UN NOUVEL ARTICLE</a>
    <div class="containerElement">

        {% for article in articles %}
            <div class="menuCrud">
                <a href="{{ path ('show_article' , {'id':article.id}) }}"><h2>{{ article.title }}</h2></a>
                <p>{{ article.articleContent }}</p>
                <span>{{ article.date | date("m/d/Y") }}</span>
                <div class="linkCrud">
                    <a href="{{ path('update_article', {'id' : article.id}) }}">modifier l'article</a>
                    <div class="border"></div>
                    <a href="{{ path('delete_article', {'id' : article.id}) }}">supprimer l'article'</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}