<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="kevin vandenbussche">
    <meta name="keywords" content="maraudeurs, star citizen, milsim, militaire, jeux vidéo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Electrolize&family=Orbitron:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <title>maraudeurs</title>
</head>
<body>
{% block header %}
    {# la valeur par default de mon block header est mon fichier 'header.principal.html.twig #}
    {% include 'header/header.principal.html.twig' %}
{% endblock %}
<!-- la nav est sortie de la structure HTML classique pour pouvoir etre sticky au body directement-->
<nav class="wrapperHeader">
    <div class="page">
        <div id="boiteTransparente">
            <div id="bandeauMenu">
                <ul class="dekstop">
                    <li class="scale"><a href="{{ path ('home_page') }}">ACCUEIL</a></li>

                    <li class="scale"><a href="{{ path ('lore_page') }}">LORE</a></li>
                    {% if is_granted ('ROLE_USER') %}
                    <li class="scale"><a href="{{ path('display_categories') }}">DOCUMENTATION</a></li>
                    {% endif %}
                    <li class="scale"><a href="https://robertsspaceindustries.com/" target="_blank">SITE RSI</a></li>
                </ul>
            </div>
        </div>
        <div id="menu-button" class="close"></div>
        <nav id="menu" class="wrapperHeader">
            <ul class="burger">
                <li class="liBurger"><a href="{{ path ('home_page') }}">ACCUEIL</a></li>
                <li class="liBurger"><a href="{{ path ('lore_page') }}">LORE</a></li>
                {% if is_granted ('ROLE_USER') %}
                <li class="liBurger"><a href="{{ path('display_categories') }}">DOCUMENTATION</a></li>
                {% endif %}
                <li class="liBurger"><a href="https://robertsspaceindustries.com/" target="_blank">SITE RSI</a></li>
            </ul>
        </nav>
    </div>
</nav>

{% for message in app.flashes('success') %}
<div class="message">
    <p>{{ message }}</p>
</div>
{% endfor %}
{% block content %}

{% endblock %}
<footer>
    <a href="https://discord.gg/xCZjaKjSZt" target="_blank">
    <span>Pour Echanger Avec Nous</span>
        <div class="taillePhotoDiscord">
            <img class="resp" src="{{ asset ('img/discord.png') }}" alt="photo discord">
        </div>
    </a>
</footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script src="{{ asset('js/upload.js') }}"></script>
<script src="{{ asset('js/respawnsive.js') }}"></script>
</html>






