{% extends 'base.html.twig'%}
{% block content %}
<main>
    <section class="descriptif ">
        <div >
            <div >
                <div class="flex flexPhone">
                    <div class='taillePhotoPrincipal'>
                        <img class="resp" src="{{ asset ('img/Blason_phoenix.png')  }}" alt="blason phoenix">
                    </div>
                    <div class='taillePhotoPrincipalMaraudeurs'>
                        <img class='resp'src="{{ asset ('img/logoMaraudeursPrinciapal.png')  }}" alt="logo maradeurs">
                    </div>
                    <div class='taillePhotoPrincipal'>
                        <img class='resp' src="{{ asset ('img/Blason_dragon.png') }}" alt="blason dragon">
                    </div>
                </div>
                <div class='flex flexPhone photoPrincipal'>
                    <div class='taillePhotoPrincipal'>
                        <img class='resp' src="{{ asset ('img/Blason_cerbere.png') }}" alt="blason cerbère">
                    </div>
                    <div class='taillePhotoPrincipal'>
                        <img class='resp' src="{{ asset ('img/Blason_griffon.png') }}" alt="blason griffon">
                    </div>
                </div>
            </div>
            <div>
                <h1 class='mediaTitre relative'>QUI SOMMES NOUS</h1>
                <div class="effet">
                    <div class="coinTop"></div>
{#                    <p>#}
{#                        L'armée MARAUDERS est une armée de l'ombre. Nous sommes des mercenaires indépendants et auto-suffisants.#}
{#                        Nous sommes une armée MilSim entrainée et aguerrie aux techniques de combat réel.</br>#}
{#                        Nous recrutons actuellement des personnes de tout niveau à partir de 18 ans peu importe le gameplay ( à l'exception de la piraterie ). Nous nous occupons de l'entrainement de chacun.</br>#}
{#                        Notre force armée est divisée en quatre branches:</br>#}
{#                    </p>#}
{#                    <div class="row">#}
{#                        <div class="col-md-3">#}
{#                            <img class="resp" src="{{ asset ('img/Blason_phoenix.png')  }}" alt="blason phoenix">#}
{#                            <h6>Phoenix - Les pilottes de chasses</h6>#}
{#                        </div>#}
{#                        <div class="col-md-3"><img class="resp" src="{{ asset ('img/Blason_phoenix.png')  }}" alt="blason phoenix"></div>#}
{#                        <div class="col-md-3"><img class="resp" src="{{ asset ('img/Blason_phoenix.png')  }}" alt="blason phoenix"></div>#}
{#                        <div class="col-md-3"><img class="resp" src="{{ asset ('img/Blason_phoenix.png')  }}" alt="blason phoenix"></div>#}
{#                    </div>#}
                    <p>
                        L'armée MARAUDERS est une armée de l'ombre. Nous sommes des mercenaires indépendants et auto-suffisants.
                        Nous sommes une armée MilSim entrainée et aguerrie aux techniques de combat réel.</br>
                        Nous recrutons actuellement des personnes de tout niveau à partir de 18 ans peu importe le gameplay ( à l'exception de la piraterie ). Nous nous occupons de l'entrainement de chacun.</br>
                        Notre force armée est divisée en quatre branches:</br>
                        Phoenix ( les pilotes de chasses )</br>
                        Cerbère ( L’armée de terre/Dropship )</br>
                        Dragon ( Les équipages de vaisseau lourd )</br>
                        Griffon ( La logistique ) ( Tout métier à orientation plus civile )</br>
                        Une fois votre spécialisation choisie (cette dernière n’est pas figée dans le temps), vous recevrez une formation à la hauteur de votre division mais également une initiation aux autres corps de métiers afin d’être polyvalent et pouvoir réagir à tous types de situations.</br>
                        Nous évoluons cherchons désormais à nous agrandir et nous avons besoin de personnes motivées et actives pour cela.</br>
                        Si l'aventure vous intéresse, venez frapper à la porte de notre discord et rencontrez nous. Nous vous expliquerons qui nous sommes et notre fonctionnement en détail. Participez à nos sorties et vous pourrez choisir d'incorporer les MARAUDERS.</br>
                        Nous organisons des sorties chaque semaine/plusieurs fois par semaine.</br>
                        </br>
                        Nos valeurs:<span> "FORCE, DEVOIR ET TENACITE"</span>
                    </p>
                    <div class="coinBottom"></div>
                </div>
            </div>
    </section>
    <section class="descriptif ">
        <div class="flex">
            <div class="taillePhoto">
                <img class="none resp" src="{{ asset ('img/Blason_phoenix.png') }}" alt="Blason phoenix">
            </div>
            <div>
                <div class='flexForPhone'>
                    <div class="taillePhoto">
                        <img class="phone resp" src="{{ asset ('img/Blason_phoenix.png') }}" alt="Blason phoenix">
                    </div>
                    <h1 class='relative'>Section Phoenix</h1>
                    <div class="taillePhoto">
                        <img class="phone resp" src="{{ asset ('img/Blason_phoenix.png') }}" alt="Blason phoenix">
                    </div>
                </div>
                <div class="effet">
                    <div class="coinTop"></div>
                    <p>Notre section, complémentaire a tout autres, est distinguable par son équipement et sa mission.
                        En effet, étant les chasseurs de la corpo, les Phoenix ne s’encombrent pas de vaisseaux lourds et se spécialisent uniquement sur des vaisseaux légers et <br>
                        Nos missions sont autant variés que nos vaisseaux. Nous sommes en charge des reconnaissances, des patrouilles autour de la flotte de la détection d’ennemis, de l’interception des dis ennemis, de l’élimination de cible au sol et parfois de la dépose des Cerbères.<br>
                        Étant la pointe de la lance Marauders nous sommes les premiers à être envoyer au combat, et la branche la plus proche de l’action. Nos mots d’ordre sont Efficacité et Cohésion. Étant dans des vaisseaux légers et moyens, notre espérance de vie en solitaire n’est pas énorme, mais elle est facilement multipliée quand nous surveillons l’arrière de chacun. Il va sans dire que, comme toute autre branche de la corpo, nous ne pouvons fonctionner sans les autres et qu’il est important d’en être conscient.</br>
                        <span>"LES CIEUX SONT POUR LES OISEAUX DE FEU"</span>
                    </p>
                    <div class="coinBottom"></div>
                </div>
            </div>
            <div class="taillePhoto">
                <img class="resp none" src="{{ asset ('img/Blason_phoenix.png') }}" alt="Blason phoenix">
            </div>
        </div>
    </section>
    <section class="descriptif ">
        <div class="flex">
            <div class='taillePhoto'>
                <img class="none resp" src="{{ asset ('img/Blason_dragon.png') }}" alt="Blason dragon">
            </div>
            <div>
                <div class='flexForPhone'>
                    <div class="taillePhoto">
                        <img class="phone resp" src="{{ asset ('img/Blason_dragon.png') }}" alt="Blason phoenix">
                    </div>
                    <h1 class='relative'>Section Dragon</h1>
                    <div class="taillePhoto">
                        <img class="phone resp" src="{{ asset ('img/Blason_dragon.png')}}" alt="Blason phoenix">
                    </div>
                </div>

                <div class="effet">
                    <div class="translate">
                        <div class="coinTop"></div>
                        <p>La section DRAGONS, est l'unité spécialisée dans les vaisseaux de combat lourds de grande taille comme la corvette HAMMERHEAD au vaisseau capital JAVELIN en passant par les différentes frégates à notre disposition.<br>
                            Dissuasion, puissance de feu et travail d'équipe sont les mots d'ordre de notre unité et l'organisation préalable ainsi que l’entrainement rigoureux et constant de nos effectifs, nous permettent d'agir de manière efficace face à un ennemi potentiel.
                            Nous avons pour mission de protéger l’espace aérien en étroite collaboration avec une escorte de vaisseaux léger et moyens lors d’opération de combat, de transactions importantes ou d’opération de minage.<br>
                            Nous avons également pour missions de protéger d’autres vaisseaux capitaux ayant une orientation plus civile, de maintenir et protéger une position essentielle à la sécurité de la corporation ainsi que de fournir un appui-feu aérien aux troupes terrestres.<br>
                            Nous formons nos propres pilotes de vaisseau lourd, nos artilleurs et nos opérateurs de vaisseaux de combats lourds mais nous formons également les pilotes de vaisseaux larges et capitaux nécessaires aux autres sections de notre corporation.<br>
                            La section DRAGONS représente la colonne vertébrale de la corporation MARAUDERS lors de déplacements interstellaires ou lors d’opérations de combat</br><span>"QUE NOS AILES NOUS ENFLAMMENT PAR DELA L'UNIVERS".</span>
                        </p>
                        <div class="coinBottom"></div>
                    </div>
                </div>
            </div>
            <div class='taillePhoto'>
                <img class='resp none' src="{{ asset ('img/Blason_dragon.png') }}" alt="Blason dragon">
            </div>
        </div>
    </section>
    <section class="descriptif">
        <div class="flex">
            <div class='taillePhoto'>
                <img class="none resp" src="{{ asset ('img/Blason_cerbere.png') }}" alt="Blason cerbere">
            </div>
            <div>
                <div class='flexForPhone '>
                    <div class="taillePhoto">
                        <img class="phone resp" src="{{ asset ('img/Blason_cerbere.png') }}" alt="Blason cerebere">
                    </div>
                    <h1 class="cerbere relative">Section Cerbere</h1>
                    <div class="taillePhoto">
                        <img class="phone resp" src="{{ asset ('img/Blason_cerbere.png') }}" alt="Blason cerebere">
                    </div>
                </div>

                <div class="effet">
                    <div class="coinTop"></div>
                    <p>La section CERBERE est l'unité d’infanterie des Marauders. En travaillant en coopération avec les autres sections, aucun ennemi ne saura résister aux unités terrestres.</br>
                        Inspiré par de réelles stratégies militaires, formé et entraîné à maîtriser son équipement à la perfection, le CERBERE ne reste que le maillon d’une chaîne fonctionnelle. C’est avec sa section qu’il pourra accomplir les objectifs les plus simples, comme neutraliser un individu, escorter un VIP, aborder un vaisseau immobilisé, jusqu'au plus compliqués, tel que prendre le contrôle du champ de bataille terrestre.</br>
                        Pour cela, un arsenal est mis à disposition : fusil d'assaut, fusil de précision, Cyclone, Nova Tonk, Valkyrie, une liste serait trop longue à rédiger et pas assez exhaustive. Vous vous demandez comment tout le monde peut maîtriser tous ces éléments ? Il ne peut pas. C’est pourquoi nous avons mis en place un système dit de “brevet” permettant à chacun de se spécialiser dans un rôle, qui vient former un tout : la section CERBERE.</br>
                        Vous imaginez un gameplay au sol ou en EVA ? Les CERBERES l’ont fait, l’ont perfectionné et désormais la maîtrise. Sensations garanties ! Les prérequis ? Motivation, rigueur et bonne humeur sont de mise ! </pr>
                        <span>“CERBERE, DEVOUEZ A L ENFER DE LA GUERRE !”</span>
                    </p>
                    <div class="coinBottom"></div>
                </div>
            </div>
            <div class='taillePhoto'>
                <img class='resp none' src="{{ asset ('img/Blason_cerbere.png') }}" alt="Blason cerbere ">
            </div>
        </div>
    </section>
    <section class="descriptif">
        <div class="flex">
            <div class='taillePhoto'>
                <img class="none resp" src="{{ asset ('img/Blason_griffon.png') }}" alt="Blason griffon">
            </div>
            <div>
                <div class='flexForPhone'>
                    <div class="taillePhoto">
                        <img class="phone resp" src="{{ asset ('img/Blason_griffon.png') }}" alt="Blason phoenix">
                    </div>
                    <h1>Section Griffon</h1>
                    <div class="taillePhoto">
                        <img class="phone resp" src="{{ asset ('img/Blason_griffon.png') }}" alt="Blason phoenix">
                    </div>
                </div>
                <div class="effet">
                    <div class="coinTop"></div>
                    <p>Notre section, complémentaire avec toutes les autres sections, se caractérise par le fait d'être pluridisciplinaire, c'est à dire, qu'elle donne la possibilité aux joueurs d'exercer plusieurs professions à la fois.<br>
                        En effet, nous sommes les médecins, ingénieurs, mineurs, recycleurs, explorateurs, scientifique, experts en électronique, transporteurs et marchands de la corporation et, pour se faire, nous avons une multitude de vaisseaux capables d'accomplir ces différentes tâches, du plus petit vaisseau de transport à la plus grosse plateforme minière orbitale.<br>
                        La section Griffon, bien qu'étant principalement axée sur son côté civil n'en est pas moins dangereuse et n'hésitera pas une seule seconde à se défendre corps et âme si sa cargaison est en danger et particulièrement si un compagnon MARAUDERS a besoin d'une assistance.<br>
                        Aidée également par les autres sections, elle a pour rôle principal d'assurer en très grande partie la prospérité économique et logistique de la corporation. Nous formons également les nouveaux arrivants à ces différentes professions ainsi que les joueurs externes à la section souhaitant se perfectionner dans un domaine bien précis.<br>
                        Nous sommes le couteau suisse de la corporation MARAUDERS. Chaque joueur de l'univers de Star Citizen a une part de Griffon en lui.</br> <span>"IMPOSSIBLE N'EST PAS LOGISTIQUE !"</span>
                    </p>
                    <div class="coinBottom"></div>
                </div>
            </div>

            <div class='taillePhoto'>
                <img class='resp none' src="{{ asset ('img/Blason_griffon.png') }}" alt="Blason griffon">
            </div>
        </div>
    </section>
</main>





<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>


<script>

    // creer une boucle pour pouvoir appliquer la fonction a toutes mes div
    //j'utilise javascript pour pouvoir ajouter une classe ou enlever une classe
    const descriptifs = document.querySelectorAll('.descriptif');
    const parCerbere = document.querySelectorAll('.descriptif .effet');
    //je mets tout dans un tableau pour pouvoir faire une boucle
    descriptifs.forEach((el, i) => {
        //j'utilise la methode querySelector qui va ecouter l'evenement du click sur la classe descriptif
        el.addEventListener('click', function(){
            //la fonction toggle me permet d'ajouter ou d'enlever classe active
            parCerbere[i].classList.toggle('active');

        });
    })
    function addFormToCollection($collectionHolderClass) {

        var $collectionHolder = $('.' + $collectionHolderClass);
        var prototype = $collectionHolder.data('prototype');
        var index = $collectionHolder.data('index');
        var newForm = prototype;
        newForm = newForm.replace(/__name__/g, index);
        $collectionHolder.data('index', index + 1);
        var $newFormLi = $('<li></li>').append(newForm);
        $collectionHolder.append($newFormLi)

    }


</script>
{% endblock %}
