{% extends 'base.html.twig' %}
{% block header %}
    {% include 'header/header.general.html.twig' %}
{% endblock %}
{% block content %}
    <h1>{{ category.name }}</h1>
    <a class="titleCrud" href="{{ path  ('insert_article') }}">CREER UN NOUVEL ARTICLE</a>
    <div class="containerElement">
        {% for article in articles %}
            <div class="menuCrud">
                <a class="titleEffect" href="{{ path ('show_article' , {'id':article.id}) }}">
                    <h2>{{ article.title }}</h2>
                </a>
                <span class="date">{{ article.date | date("d/m/Y") }}</span>
                <div class="linkCrud">
                    <a href="{{ path('update_article', {'id' : article.id}) }}"><i class="bi bi-pencil-square"></i></a>
                    {% if is_granted ('ROLE_ADMIN') %}
                     <p class="logoLink"><i class="bi bi-x-square delete"></i></p>

                </div>
                <a class="confirmDelete"  href="{{ path('delete_article', {'id' : article.id}) }}"><span class="messageDelete">Confirmer la supression</span></a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}