{% extends 'base.html.twig' %}
{% block header %}
    {% include 'header/header.general.html.twig' %}
{% endblock %}
{% block content %}
    <h1>Les catégories</h1>
    <a class="titleCrud" href="{{ path('insert_category') }}">CREER UNE NOUVELLE CATEGORIE</a>
        <div class="containerElement">
        {% for category in categories %}
            <div class="menuCrud">
                <a class="titleEffect" href="{{ path('display_articles', {'id': category.id }) }}"><h2>{{ category.name }}</h2></a>
                <div class="linkCrud">
                    <a href="{{ path('update_category', {'id' : category.id}) }}"><i class="bi bi-pencil-square"></i></a>
                    {% if is_granted ('ROLE_ADMIN') %}
                    <a class="delete" href="{{ path('delete_category', {'id' : category.id}) }}"><i class="bi bi-x-square"></i></a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
{% endblock %}
