{% extends 'base.html.twig' %}
{% block header %}
{% include 'header/header.general.html.twig' %}
{% endblock %}

{% block content %}
        <h1>{{ article.title }}</h1>
        <p class="content">{{ article.articleContent }}</p>
        {% for media in article.media %}
            <a class="alignLink" href="{{ asset('files/') }}{{ media.url }}" target="_blank">Cliquez ici pour avoir accès à la documentation</a>
        {% endfor %}
        <div class="linkCrudArticle">
            <a href="{{ path('update_article', {'id' : article.id}) }}"><i class="bi bi-pencil-square"></i></a>
            {% if is_granted ('ROLE_ADMIN') %}
            <a class="delete" href="{{ path('delete_article', {'id' : article.id}) }}"><i class="bi bi-x-square"></i></a>
            {% endif %}
    </div>
{% endblock %}
