{% extends 'base.html.twig' %}
{% block header %}
{% include 'header/header.general.html.twig' %}
{% endblock %}

{% block content %}
        <h1>{{ article.title }}</h1>
        <p class="content">{{ article.articleContent }}</p>
{#        {% for media in article.media %}#}
{#            <a href="{{ asset('{{ media.url }}') }}"></a>#}
{#        {% endfor %}#}
        <div class="linkCrudArticle">
            <a href="{{ path('update_article', {'id' : article.id}) }}">modifier l'article</a>
            {% if is_granted ('ROLE_ADMIN') %}
            <div class="border"></div>
            <a href="{{ path('delete_article', {'id' : article.id}) }}">supprimer l'article</a>
            {% endif %}
    </div>
{% endblock %}
